<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment</title>
</head>
<body>
    <h3>Welcome to Payment Gateway</h3>
    <form action="payment" method="post">
        <script
            src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="<%= key %>"
            data-amount="7000"
            data-currency="usd"
            data-name="Deepak Mishra"
            data-description="Buy a cup of coffee"
            data-Locale="auto"
        >
        </script>
    </form>
</body>
</html>