<form action="/paymentDetails" method="post">
    <h1>payment Details</h1>
    <label for="name"><b>name</b></label>
    <input type="text" placeholder="Enter name" name="name" required><br>
    <label for="currency"><b>currency</b></label>
    <input type="text" placeholder="Enter currency e.g. inr(india) USD(USA) etc" name="currency" require><br>
    
    <label for="amount"><b>amount</b></label>
    <input type="text" placeholder="Enter amount" name="amount" require><br>
    <label for="description"><b>description</b></label>
    <input type="text" placeholder="Enter description" name="description" require><br>
    <button type="submit">submit</button>
</form>
