<form action="/signup" method="post">
    <h1>Sign Up</h1>
    <label for="name"><b>name</b></label>
    <input type="text" placeholder="Enter name" name="name" required><br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required><br>
    <label for="password"><b>password</b></label>
    <input type="password" placeholder="Enter password" name="password" require><br>
    <h1>Address</h1>
    <label for="line1"><b>line1</b></label>
    <input type="text" placeholder="Enter address" name="line1" required><br>
    <label for="postal_code"><b>postal code or Pin code</b></label>
    <input type="text" placeholder="Enter postal_code" name="postal_code" require><br>
    <label for="city"><b>city</b></label>
    <input type="text" placeholder="Enter city" name="city" require><br>
    <label for="state"><b>State</b></label>
    <input type="text" placeholder="Enter state" name="state" require><br>
    <label for="country"><b>country</b></label>
    <input type="text" placeholder="Enter country" name="country" require><br>
    <button type="submit">submit</button>
</form>